<div class='memo-room-form'>
  <h1>新規チャットルーム</h1>
  <%=form_with model: @room, local: true do |f|%>
    <div class='memo-room-form__field'>
      <div class='memo-room-form__field--left'>
        <%= f.label :チャットルーム名, class: 'memo-room-form__label'%>
      </div>
      <div class='memo-room-form__field--right'>
        <%= f.text_field :name, class: 'memo__room_name memo-room-form__input', placeholder: 'ルーム名を入力してください'%>
      </div>
    </div>
    <div class='memo-room-form__field'>
    </div>
    <div class='memo-room-form__field'>
      <div class='memo-room-form__field--left'>
        <label class='memo-room-form__label' for='memo_room_メモのメンバー'>メンバー</label>
      </div>
      <div class='memo-room-form__field--right'>
      <select name="room[user_ids][]">
          <option value="">チャットするユーザーを選択してください</option>
          <% User.where.not(id: current_user.id).each do |user| %>
            <option value=<%= user.id %>><%= user.name %></option>
          <% end %>
        </select>
        <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>
      </div>
    </div>
    <div class='memo-room-form__field'>
      <div class='memo-room-form__field--left'></div>
      <div class='memo-room-form__field--right'>
        <%= f.submit class: 'memo-room-form__action-btn'%>
      </div>
    </div>
  <% end %>
</div>
