<div class="memo-header">
  <div class="left-header">
    <div class="header-title">
     <%= @room.name %>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <%= link_to "メモを終了する", room_path(@room), method: :delete %>
    </div>
  </div>
</div>
<div class="memos">
  <%= render partial: 'memo', collection: @memos %>
</div>
<div class="form">
  <%= form_with model: [@room, @memo], class: 'form-form', local: true do |f| %>
    <div class="form-input">
      <%= f.text_field :content, class: 'form-memo', placeholder: '入力してください' %>
      <label class="form-image">
        <span class="image-file">画像</span>
        <%= f.file_field :image, class: 'hidden' %>
      </label>
    </div>
    <%= f.submit '送信', class: 'form-submit' %>
  <% end %>
</div>