<div class="memo">
  <div class="upper-memo">
    <div class="memo-user">
      <%= memo.user.name %>
    </div>
    <div class="memo-date">
     <%= l memo.created_at %>
    </div>
    
    <div class="memo-delete">
      <%= link_to "削除", room_memo_path(@room.id,memo.id), method: :delete %>
     </div>
  </div>
  <div class="lower-memo">
    <div class="memo-content">
      <%= memo.content %>
    </div>
  <%= image_tag memo.image.variant(resize: '500x500'), class: 'memo-image' if memo.image.attached? %>
  </div>
</div>
